@import "tailwindcss";

/* :root {
	font-family: 'Inter', sans-serif;
	--background: #242121;
	--text-color: #fff;
	--link-color: #2563eb;
} */


:root {
  --primary-color: #1e3a8a;   /* Indigo-900 */
  --accent-color: #2563eb;    /* Blue-600 */
  --bg-color: #f9fafb;        /* Gray-50 */
  --text-color: #1f2937;      /* Gray-800 */
  --text-muted: #6b7280;      /* Gray-500 */
}